/* h3 {
  color: rebeccapurple;
}

h2 {
  color: #fff;
  background-color: brown;
}
.heading2 {
  background-color: rebeccapurple;
}
#heading2 {
  font-weight: 800;
  font-size: 70px;
}
.pragya {
  color: pink;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 50px;
  border: 2px solid blue;
  margin: 50px 20px;
  /* margin: 50px 20px 10px 30px; */
  padding: 50px;
}
/* #para {
  background-color: brown !important;
} */

/* .para2 {
  background-color: violet !important;
}
.para {
  background-color: green !important;
} */

/* My template website  */
.container {
  background-color: aqua;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  max-height: 600px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  width: 25%;
}
.card {
  margin: 10px;
  height: 60px;
  background-color: red;
}
/* for tablet device */
@media (max-width: 799px) {
  .col {
    width: 33.33%;
  }
}

/* for mobile device  */
@media (max-width: 576px) {
  .col {
    width: 100%;
  }
}
